// views/deleteSuccess.jade
doctype html
head
  include ./head.jade

section.page-section
  br
  br
  .container
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0= pageHeader.title
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        i.fas.fa-check-circle
      .divider-custom-line
    
    .row
      .col-lg-8.mx-auto.text-center
        .alert.alert-success
          h4.alert-heading Success!
          p The game "#{deletedGame}" has been successfully deleted.
          hr
          p.mb-0 Deleted by: #{student.name} (#{student.id})
        
        br
        a.btn.btn-primary.btn-xl(href='/playlist') 
          i.fas.fa-list.mr-2
          | Go to Playlist
        a.btn.btn-secondary.btn-xl.ml-2(href='/') 
          i.fas.fa-home.mr-2
          | Go to Home

#footer
  include ./footer.jade