doctype html
head
  include ./head.jade
br
section#contact.page-section
  .container
    // Contact Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0= pageHeader.title
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        i.fas.fa-star
      .divider-custom-line
    // Contact Section Form
    .row
      .col-lg-8.mx-auto
        br
        h1(align='center') file upload complete
        br
        br
        p
            a(href='/playlist/') Click go to playlist
        
#footer
  include ./footer.jade

