doctype html
head
  include ./head.jade
// Masthead
section#portfolio.page-section.portfolio
  br
  .container
    br
    br
    // Portfolio Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 final check
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        i.fas.fa-star
      .divider-custom-line
    .rom 
      h4.text-uppercase.mb-4 success!
      br
      a(href='/playlist/') Click go to playlsit!
    // Portfolio Grid Items
#footer
  include ./footer.jade

