doctype html

// Footer
footer.footer.text-center
  .container
    .row
      // Footer Location
      .col-lg-4.mb-5.mb-lg-0
        h4.text-uppercase.mb-4 Location
        p.lead.mb-0
          |Department of Computer Science, Engineering and Converged Technology 
          br
          | Duksung Women's University
      // Footer Social Icons
      .col-lg-4.mb-5.mb-lg-0
        h4.text-uppercase.mb-4 SNS & Web
        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.facebook.com/DukSungWU/')
          i.fab.fa-fw.fa-facebook-f
        a.btn.btn-outline-light.btn-social.mx-1(href='https://instagram.com/dswu_amigong?igshid=1ni959rozm0aa')
          i.fab.fa-fw.fa-linkedin-in
        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.duksung.ac.kr')
          i.fab.fa-fw.fa-dribbble
      // Footer About Text
      .col-lg-4
        h4.text-uppercase.mb-4 Contributors
        p.lead.mb-0
          | Taejung Park 
          br
          |(Room 344 @ ChaMirisa Memorial)
          br
          | Joohee Hong 
          br
          |(LG Electronics, graduate of IT Media)
          br
          | Jinhee Oh 
          br
          |(Kookmin Bank, graduate of IT Media)
          
          
          
// Copyright Section
section.copyright.py-4.text-center.text-white
  .container
    small Copyright &copy; 2019-2025
// Bootstrap core JavaScript
script(src='/bootstrap/vendor/jquery/jquery.min.js')
script(src='/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='/bootstrap/vendor/jquery-easing/jquery.easing.min.js')
// Contact Form JavaScript
script(src='/bootstrap/js/jqBootstrapValidation.js')
script(src='/bootstrap/js/contact_me.js')
// Custom scripts for this template
script(src='/bootstrap/js/freelancer.min.js')

